<!DOCTYPE html>
<html lang="cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="<%= htmlWebpackPlugin.options.favicon %>">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <noscript>
            <strong>出现了一些问题，此网站必须要使用JavaScript才能够运行，你必须开启JavaScript才能正常使用本网站</strong>
            <%= htmlWebpackPlugin.options.filename %>
        </noscript>
        <div id="app"></div>
    </body>
</html>